{% extends 'blog/base.html' %}

{% block content %}
<br>
<form method="GET" class="post-form">{% csrf_token %}
    	 <input type='text' name='q'placeholder="enter title,name"value='{{ request.GET.q }}' id='intry'>
         <input type='submit' value='Search' class='button_1' id='sub1'>
        {% if results %}
        <h2>its available please scroll down</h2>
        {% elif results in results %}
            <h2>it is available</h2>
        {% else %}
            <h2>sorry not available</h2>
        {% endif %} 
        </form>
    {% for post in post %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <h3 style="color:blue"><p> NAME OF THE COURSE:{{ post.name }}</p></h2>
        </div>
    {% endfor %}
{% endblock %}